* {
  margin: 0;
  padding: 0;
  /* font-family: "E-Sports", "Poppins", sans-serif; */
  font-family: "Premier League", sans-serif;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "E-Sports";
  src: url("../esportsfont.ttf") format("truetype");
} */

body {
  background-color: #f3f3f3;
}

body,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  /* background-color: #efefef; */
}

ol,
ul {
  list-style: none;
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TOP BAR */

/* .topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: rgb(65, 65, 65);
    margin-left: auto;
    margin-right: auto;
}

.topbar span{
    color: #ffffff;
}

.topbar ul{
    list-style: none;
    display: flex;
}

.topbar ul li{
    margin: 0px 5px;
}

.topbar a{
    color: #ffffff;
}

.topbar a:hover{
    color: #ff9f2b;
    transition: 0.1s;
} */

/* NAV BAR */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* .search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
}

.search-input {
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
  width: 200px;
}

.search-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #45a049;
} */

.navbar {
  background-color: #333;
  color: #fff;
  padding: 5px 0;
  position: fixed; /* Makes the navbar fixed */
  top: 0; /* Positions it at the top of the viewport */
  width: 100%; /* Ensures the navbar spans the full width */
  z-index: 1000;
}

#playerSearch {
  align-items: center;
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eaeaea;
  color: black;
}

.suggestions {
  background-color: white;
  color: black;
  border-radius: 5px;
  z-index: 100;
  overflow-y: auto;
  list-style-type: none;
  position: absolute;
  width: 250px;
  text-align: center;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: 0.2s; /* Smooth transition for hover effect */
}

.suggestions li:hover {
  background-color: #f0f0f0; /* Change background on hover */
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 55px;
  margin-top: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px; /* Adds space between the nav items */
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 20px;
  transition: background 0.3s;
}

.nav-links li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Style for the login button */
.login-button {
  background-color: #f38600;
  color: white;
  border-radius: 4px;
}

.logout-button {
  background-color: #f38600;
  color: white;
  border-radius: 4px;
}
.logout-button {
  background-color: #f38600;
}

.login-button:hover {
  background-color: #f38600;
}
/* DASHBOARD */

.dashboard {
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
  margin: 100px auto 30px;
}

.dashboard > div {
  /* flex: 33%; */
  margin: 30px;
  /* padding: 20px; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#leagueTableBody tr:nth-child(1) {
  background-color: #ff8809;
}

#leagueTableBody tr:nth-child(2) {
  background-color: #d9d9d9;
}

#leagueTableBody tr:nth-child(3) {
  background-color: #d9d9d9;
}

.dashboard h2 {
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 200;
  /* text-transform: uppercase; */
}

.h2table {
  width: 100%;
  position: relative;
  padding: 0 1rem;
  background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  /* background-image: url(../i/elements/backgrounds/sm-header-pattern.svg); */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  color: white;
}

.leaguetable {
  /* flex: 20%; */
  flex: 1;
  min-width: 300px;
}

.imgarticle {
  /* flex: 50%; */
  flex: 1.2;
  min-width: 300px;
  /* height: 100%; */
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.responsive-image {
  width: 100%;
  height: 550px;
  transition: transform 0.3s ease;
}

.image-container:hover .responsive-image {
  transform: scale(1.1);
}

.image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px;
  font-size: 30px;
  border-radius: 3px;
}

.image-text:hover {
  color: #f09819;
  transition: 0.4s;
}

/* .upcomingfixtures {
  flex: 10%;
} */

/* .leaguetable {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* .leaguetable h2 {
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 26px;
  font-family: "Ligue 1 V1", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
} */

.leaguetable table {
  width: 100%;
  border-collapse: collapse;
}

.leaguetable .club {
  display: flex;
  align-items: center;
}

.leaguetable td img {
  width: 30px;
  margin-right: 5px;
}

.leaguetable th,
.leaguetable td {
  /* text-align: left; */
  padding: 7px;
  color: #3d2708;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.leaguetable th {
  color: rgb(163, 154, 136);
  font-size: 12px;
  padding: 10px;
}

/* .leaguetable th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.leaguetable tr:hover {
  background-color: #f1f1f1;
}

.leaguetable td {
  background-color: #fff;
}

.leaguetable tr:nth-child(even) td {
  background-color: #f9f9f9;
} */

/* CARDS */

.cards-section {
  /* margin: 50px auto; */
  /* width: 100%; */
  /* max-width: 1200px; */
  /* background: linear-gradient(
    109.6deg,
    rgb(243, 141, 17) 11.2%,
    rgb(201, 119, 12) 91.1%
  ); */
  margin-top: 80px;
  margin-bottom: 80px;
  background: linear-gradient(
    179.6deg,
    rgb(79, 79, 79) 11.2%,
    rgb(52, 52, 52) 91.1%
  );

  /* background-image: url("../images/bgg.png"); */
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  /* padding: 20px; */
}

.change-background {
  background-color: rgb(249, 162, 0);
  color: white;
}

.stats-card-container {
  flex: 0 0 300px;
  margin-top: 0;
  margin-left: 20px;
  padding: 20px;
  /* scroll-snap-align: start; */
  text-align: left;
}

.stats-card-container h4 {
  font-size: 34px;
  color: white;
  text-align: center;
}

.card {
  flex: 0 0 300px;
  margin-top: 20px;
  padding: 5px 5px;
  /* width: 100%; */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* scroll-snap-align: start; */
  text-align: left;
  border: 1px solid #ddd;
  width: 300px;
  margin-right: 10px;
}

.player {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  text-align: center;
}

.pStats1st {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pStats1st img {
  width: 25px;
}

.pName1st {
  font-size: 20px;
}

.pGoals1st {
  font-size: 23px;
}

.pStats {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pStats img {
  width: 22px;
}

.pName {
  font-size: 16px;
}

.pGoals {
  font-size: 20px;
}

.statistics-button {
  background: linear-gradient(
    109.6deg,
    rgb(243, 141, 17) 11.2%,
    rgb(230, 137, 16) 91.1%
  );
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 100%;
  outline: 0;
  margin-top: 10px;
  font-size: 15px;
}

.statistics-button:hover {
  /* background: linear-gradient(
    109.6deg,
    rgb(208, 121, 15) 11.2%,
    rgb(190, 114, 15) 91.1%
  ); */
  transition: 0.3s;
  color: rgb(50, 50, 50);
}

/* LATEST NEWS */

.latest-section {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.latest-transfers {
  /* max-width: 40%; Adjust as needed */
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.latest-transfers h2 {
  text-align: center;
}

.latest-news {
  /* max-width: 60%; Adjust as needed */
  flex: 1.9;
}
.latest-news h2 {
  text-align: center;
}

.transfer-card,
.news-card {
  background-image: url("../images/bgg.png");
  /* background: linear-gradient(
    109.6deg,
    rgb(243, 141, 17) 11.2%,
    rgb(230, 137, 16) 91.1%
  ); */
  /* background: linear-gradient(
    109.6deg,
    rgb(140, 140, 140) 11.2%,
    rgb(117, 117, 117) 91.1%
  ); */
  /* padding: 20px; */
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fa-arrow-right {
  font-size: 30px;
  color: orange;
}

.transfer-flag img {
  width: 30px;
}

.transfer-card h2,
.news-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.latest-transfers-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest-news {
  margin-top: 0px;
}

.latest-news-card {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line */
  gap: 20px; /* Adds space between news cards */
}

.news-card {
  flex: 1 1 calc(50% - 20px); /* Takes up 50% width minus gap */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  height: 255px;
  position: relative;
}

.news-card-img {
  width: 100%;
  height: 255px;
  object-fit: cover; /* Ensures the image covers the entire area */
  border-radius: 8px; /* Optional: Adds rounded corners to the image */
}

.news-card-img:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.news-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Optional: Takes full width of the parent to align text to the bottom left */
  padding: 10px;
  color: white; /* Text color */
  background: rgba(
    218,
    110,
    9,
    0.654
  ); /* Semi-transparent background for better text visibility */
  box-sizing: border-box; /* Includes padding in the element's width */
  font-size: 16px; /* Text size */
  border-bottom-left-radius: 8px; /* Optional: Matches the image corner radius */
  border-bottom-right-radius: 8px; /* Optional: Matches the image corner radius */
}
.extra-text {
  display: block;
  opacity: 0; /* Initially hidden */
  max-height: 0; /* Initially hidden */
  overflow: hidden; /* Ensure no overflow is visible */
  /* transition: opacity 0.4s ease, max-height 0.4s ease; Transition on hover */
  font-size: 12px;
}

.news-card:hover .extra-text {
  opacity: 1; /* Show the extra text on hover */
  max-height: 100px; /* Adjust to the height of your extra text */
  margin-top: 10px;
}

/* .latest-news-card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.two-news {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  gap: 5px;
}

.two-more-news {
  display: flex;
  flex-direction: flex;
  justify-content: center;
  gap: 10px;
}

.news-card {
  flex: 1;
  height: 255px;
}

.news-card-img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  border-radius: 8px;
} */

.transfer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transfer-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
  background: linear-gradient(
    109.6deg,
    rgb(105, 105, 105) 11.2%,
    rgb(131, 65, 19) 91.1%
  );
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  color: rgb(248, 240, 226);
}

.transfer-name h2 {
  margin-bottom: 0;
  font-size: 24px;
}

.transfer-teams {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.transfer-teams img {
  width: 70px;
}

.leaderboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 50px;
  background-image: url("../images/43538.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 90px;
}

.latest-season {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-season h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.latest-season table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

.latest-season table img {
  width: 30px;
}

.latest-season th {
  padding: 15px;
  font-size: 20px;
  color: rgb(40, 40, 40);
  background: linear-gradient(
    179.6deg,
    rgb(128, 128, 128) 11.2%,
    rgb(105, 105, 105) 91.1%
  );
  color: white;
}

.latest-season td {
  padding: 8px;
  text-align: center;
}

.latest-season tr {
  background-color: rgb(229, 229, 229);
  border: 1px solid #cdcdcd;
  font-size: 19px;
}

.name-flag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name-flag img {
  margin-right: 5px;
}

.latest-season tr:nth-child(1) {
  background-color: rgb(255, 182, 47);
  font-size: 22px;
}
.latest-season tr:nth-child(2) {
  background-color: rgb(177, 177, 177);
  font-size: 20px;
}
.latest-season tr:nth-child(3) {
  background-color: rgb(247, 129, 32);
  font-size: 20px;
}

iframe {
  flex: 1.2;
  height: 80%;
  border: none;
  border-radius: 8px;
  margin-right: 20px;
}

/* FOOTER */

footer {
  /* background-color: #333; */
  background: linear-gradient(
    179.6deg,
    rgb(64, 64, 64) 11.2%,
    rgb(56, 56, 56) 91.1%
  );
  color: white;
  padding: 20px 0;
  text-align: center;
}

.registeredusers {
  display: flex;
}

.registeredusers {
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap; /* Add flex-wrap to wrap sections on smaller screens */
}

.footer-section {
  flex: 1;
  margin: 0 10px;
  min-width: 200px;
  /* Ensure each section has a minimum width */
}

.footer-section h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.quick-links {
  display: flex; /* Use flexbox to arrange items in a row */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove default list style */
  justify-content: center;
  margin: 0; /* Remove default margin */
}

.quick-links li {
  margin: 0 10px; /* Optional: Add some margin between list items */
}

.quick-links a {
  color: white; /* Set link color */
  text-decoration: none; /* Remove underline from links */
}

.quick-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
    margin-top: 12px;
    z-index: 1;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .dashboard > div {
    margin: 10px;
  }

  .stats-card-container {
    margin: 10px;
    padding: 0;
  }

  .responsive-image {
    height: 100%;
  }

  .latest-section {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 10px;
    margin-right: 10px;
  }

  .latest-transfers-card {
    overflow-x: auto;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .latest-transfers-card {
    flex-direction: row;
  }

  .news-card {
    flex: 1 1 100%; /* On smaller screens, each card takes full width */
  }

  .leaderboard-container {
    flex-direction: column;
    height: 170vh;
    gap: 20px;
    align-items: unset;
  }

  .latest-season {
    margin: 40px 20px;
  }

  .latest-season tr {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: rgb(229, 229, 229);
    font-size: 14px;
  }

  .latest-season tr:nth-child(1) {
    background-color: rgb(255, 182, 47);
    font-size: 17px;
  }
  .latest-season tr:nth-child(2) {
    background-color: rgb(177, 177, 177);
    font-size: 15px;
  }
  .latest-season tr:nth-child(3) {
    background-color: rgb(247, 129, 32);
    font-size: 15px;
  }

  iframe {
    width: 96%;
    height: 400px;
    padding-bottom: 20px;
    margin: 30px auto;
  }
  /* .latest-transfers-card {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
  } */

  .footer-container {
    flex-direction: column;
    align-items: center; /* Center items on smaller screens */
  }

  .footer-section {
    margin: 15px 0; /* Add margin between sections */
  }

  .footer-section h3,
  .footer-section p,
  .footer-section ul {
    text-align: center; /* Center text on smaller screens */
  }
}
